!!! 5

<!--[if IE ]><html lang="en" class="no-js ie ltie10"> <![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
%html.no-js.no-ie{lang: I18n.locale}
  <!--<![endif]-->

  = partial 'head'

  %body.design
    = partial 'header'
    %main.body{ role: "main" }
      = yield
      = partial 'footer'
    = partial 'foot'
