!!! 5

<!--[if IE ]><html lang="en" class="no-js ie ltie10"> <![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
%html.no-js.no-ie{lang: I18n.locale}
  <!--<![endif]-->

  = partial 'head'

  %body.design
    = partial 'header'
    %main.body{ role: "main" }
      - if is_blog_article?
        .block
          %article.article
            %header.article__header
              %h1.article__title= current_article.title
              %time.article__date{ datetime: current_article.date.strftime('%F') }
                = current_article.date.strftime("%B ’%y")
              - if current_article.tags.present?
                %span.article__tags
                  - current_article.tags.each do |tag|
                    = link_to tag, tag_path(tag)
            = yield
      - else
        = yield
      = partial 'footer'
    = partial 'foot'
