%footer.github
  = svg_icon "github", "github__icon", 100, 100
  %p
    The source files for this website are available on
    = succeed "." do
      = link_to "Github", "https://github.com/lovehasnologic/lhnl-site"
    I encourage you to dig through the files, ask questions, learn from my code
    and point out where I can learn from your suggestions.To find out more about the tools I used to build this site, visit the
    = succeed "." do
      = link_to "Colophon", "/colophon"
