---
title: Designer
---

.section
  %h1.section__title= current_page.data.title
  %nav.imageNav
    %ul.imageNav__list
      - 12.times do
        %li.imageNav__item
          = link_to "#", class: "imageNav__link" do
            %figure.imageNav__image= lazy_image_tag lorem.image('600x450', random_color: true, text: "Thumbnail"), 600, 450, "Thumbnail"
            %figcaption.imageNav__details
              = lorem.words 5
              %span.imageNav__secondary
                category, second category
  %nav.listNav
    %ul.listNav__list
      - blog("design").articles.sort_by(&:title).each do |article|
        %li.listNav__item
          = link_to article.url, class: "listNav__link" do
            = article.title
            %span.listNav__secondary
              = article.tags.join ", "
