---
title: Designer
layout: design
description: Browse a sampling of the work I've done over my career as a designer.
---

.block
  %header.article__header
    %h1.article__title= current_page.data.title
    %h2.article__subtitle #{tagname} Projects

  %nav.listNav
    %ul.listNav__list
      - articles.sort_by(&:title).each do |article|
        %li.listNav__item
          = link_to article.url, class: "listNav__link" do
            = article.title
            %span.listNav__secondary
              = article.tags.join ", "
