---
title: Designer
layout: design
---

.block
  %header.article__header
    %h1.article__title= current_page.data.title
    %h2.article__subtitle #{tagname} Projects

  %nav.listNav
    %ul.listNav__list
      - articles.sort_by(&:title).each do |article|
        %li.listNav__item
          = link_to article.url, class: "listNav__link" do
            = article.title
            %span.listNav__secondary
              = article.tags.join ", "
