---
title: Chandler & Smythe Wedding
date: 2008-12-01
description: If we couldn't be at James and Vicki's wedding in person, we'd be there in spirit, and we'd ensure that all of their friends would want to be too due to their amazing invites.
tags: print design
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/chandler-smythe-1.jpg", 1000, 313, "Envelope Front & Back"

%p
  Victoria and James are friends of ours who live in the UK. In planning their
  wedding, they searched the nation for invitation printers and came to one
  conclusion &mdash; they didn&rsquo;t like a thing that they saw. That&rsquo;s
  when they came to us. With an empty canvas and a little help from our friends
  at
  = link_to "Starshaped Press", "http://www.starshaped.com/"
  we&rsquo;d put together an invite package that would stand out from the rest
  of the standard, cookie cutter invitations littering their fine countryside
  (which, as I&rsquo;m told, is quite important in the competitive world of
  attendance-garnering for your British wedding, an event that begins almost a
  year before the actual date arrives, oh my!).

%figure
  = lazy_image_tag "/assets/images/work/chandler-smythe-3.jpg", 1000, 470, "Invitation Outside"

%figure
  = lazy_image_tag "/assets/images/work/chandler-smythe-4.jpg", 1000, 470, "Invitation Inside"

%p
  For the invitation visuals we worked with a few concepts. First, the season.
  The wedding would be taking place just as summer turned to fall and Mother
  Nature would be working on her last hurrah of the season. The intent was to
  capture that moment when you walk outside and suddenly realize that the new
  season is upon you. Second, since James is a writer, we wanted to incorporate
  words into the design as imagery, rather than just vessels of information. We
  worked various drafts of the invite&rsquo;s text into the background textures,
  highlighting the text&rsquo;s own organic change over time.

%p
  Finally, because our friendship arose from a mutual love of most things
  musical, we decided to enclose the invitation in one of Starshaped
  Press&rsquo; &ldquo;tab-n-slot&rdquo; CD packages. We replaced the CD with the
  invite, using the sleeve itself as the mailing envelope. This allowed us to
  easily continue the design of the invite to the outer packaging, creating a
  visual impact as soon as the recipients opened their mailboxes.

%figure
  = lazy_image_tag "/assets/images/work/chandler-smythe-2.jpg", 1000, 313, "Invitation Detail"

%figure
  = lazy_image_tag "/assets/images/work/chandler-smythe-5.jpg", 1000, 313, "Invitation Detail"

