---
title: CHIRP Record Fair & Other&nbsp;Delights
date: 2013-01-01
description: We made a website look like a poster... but it functions like a well-oiled machine. Just another thing that sets the CHIRP Record Fair and Other Delights apart.
tags: web design, responsive design, research, front end development, identity development, cms development
url: http://recordfair.chirpradio.org/
featured: true
thumbnail: /assets/images/work/thumbnails/chirp-recordfair-thumb.jpg
hide_title: true
---

- content_for :custom_styles do
  :scss
    $body-color: #544f47;

    .body {
      background-color: #f7f7f7;
      background-image: url("/assets/images/work/chirp-recordfair-digger.png"), url("/assets/images/work/chirp-recordfair-bg.jpg");
      background-position: 100% 100%, 0 0;
      background-attachment: fixed, fixed;
      background-repeat: no-repeat, repeat;
      color: $body-color;
    }

    .pageHeader {
      border-bottom: 9px solid #343434;
    }

    .figure--mockup {
      background: #fff;
    }

    .figure--stroked {
      border: 9px solid $body-color;
      background: $body-color;
      color: #fefa0f;

      &.figure--bleed {
        border-left: 0;
        border-right: 0;
      }

      figcaption {
        opacity: 1;
        padding-top: 9px;
      }

      img {
        display: block;
      }
    }

    .article__footer {
      background: $body-color;
      color: #fff;

      a {
        color: #fefa0f;

        &:hover,
        &:focus {
          color: #fff;
        }

        &:after {
          color: #fff;
        }
      }
    }

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/chirp-recordfair-title.png", 1750, 215, "CHIRP Record Fair Website Banner"

%p
  CHIRP&rsquo;s bi-annual record fair is one of the best in the country and is
  something that music fans are always looking forward to. A room full of vinyl,
  food, music, trivia, games, friends and more makes for a wonderful afternoon
  of crate digging and geeking out. The event needed a website that was equally
  as fun, but more importantly, informative.

.text--centered
  %figure.figure--mockup.figure--browser
    = lazy_image_tag "/assets/images/work/chirp-recordfair-browser.jpg", 1500, 940, "Homepage on a wide screen"
    %figcaption.figure__caption http://recordfair.chirpradio.org/
  %figure.figure--mockup.figure--tablet
    = lazy_image_tag "/assets/images/work/chirp-recordfair-tablet.jpg", 893, 954, "Homepage on a tablet"
  %figure.figure--mockup.figure--phone
    = lazy_image_tag "/assets/images/work/chirp-recordfair-phone.jpg", 581, 890, "Homepage on a phone"

%p
  It&rsquo;s the billed &ldquo;Other Delights&rdquo; that really sets the annual
  CHIRP Record Fair apart. Sure, digging through an entire room packed with bins
  of vinyl is fun, but anyone can gather a bunch of record vendors and buyers
  together in the same place. The Chicago Independent Radio Project separates
  its record fair from the rest with loads of goodies: DJs, games, toy and
  clothing vendors, food and beer from local outlets, poster makers and more. It
  was this last category that became our inspiration, as I decided to see how
  well I could pull off emulating a poster in a responsive website. I did this
  through the addition of offset color blocks and misregistered headlines,
  printer marks at the top and bottom of the page and even live page slugs that
  show the name of the document and the time it was created&hellip; all while
  failing gracefully in less advanced browsers.

%figure.figure--bleed.figure--stroked
  = lazy_image_tag "/assets/images/work/chirp-recordfair-slide2.jpg", 1500, 675, "Page detail"

%p
  While the front end looks great, the back end is where the magic happens. We
  wanted to ensure that data management was easy and content could be shared
  across all of CHIRP&rsquo;s websites. The site was built using
  ExpressionEngine&rsquo;s multi-site manager and utilizes network-wide member
  accounts to RSVP to the fair, automatically cross-posts to the CHIRP Radio
  event calendar and makes all entry data accessible to the rest of the network.

%figure.figure--stroked
  = lazy_image_tag "/assets/images/work/chirp-recordfair-footer.jpg", 1000, 225, "Printer marks on the footer"
  %figcaption Site Footer Detail (showing printer marks and page slug)
