---
title: CHIRP Radio
date: 2013-01-01
description: CHIRP Radio's new website was one of our most ambitious projects to date.
tags: web design, responsive design, research, front end development, identity development, cms development
url: http://chirpradio.org/
featured: true
thumbnail: /assets/images/work/thumbnails/CHIRP-thumb.jpg
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/CHIRP-slide-1.jpg", 1500, 548, "CHIRP Radio Website Banner"

%p
  We&rsquo;ve been working with the Chicago Independent Radio Project since
  their 2007 founding. A large part of the group&rsquo;s time is spent on their
  online radio station, found at
  = succeed "." do
    = link_to "CHIRPradio.org", "http://chirpradio.org/"
  While they work toward lowering the barriers to low-power FM access
  nationwide, they use their online station to spread the spirit of truly
  independent, community-centered radio. With years behind the original launch
  and armed with feedback and user analytics, we set out to develop the second
  version of their flagship station site.

%figure.is--right.is--padded
  = lazy_image_tag "/assets/images/work/CHIRP-ipad.jpg", 500, 651, "CHIRP Radio on an iPad"

%p
  With their audience increasingly accessing the site through mobile and
  touch-based devices (a number that rose monthly) we knew the new version would
  have to respond to all environments. We worked to replace all Flash-based
  elements with HTML5 alternatives that would work on mobile devices lacking
  Flash support. A large area of listener confusion had been the separation of
  the group&rsquo;s blog from their main site, so we merged the two into one and
  generally organized and simplified the content structure and organization.
  Visually, we brought the site in line with the new identity that we&rsquo;d
  been rolling out in the station&rsquo;s mobile apps as well as on their
  mailing list. Finally, we worked with CHIRP to develop new site functionality
  for listeners, including the ability for users to create accounts and track
  favorite songs, community forums to foster discussion and debate, and a more
  flexible and feature-rich store infrastructure. And we rebuilt the back end
  from the ground up to support the way the group&rsquo;s more than 200
  volunteers needed to access and manage the site&rsquo;s content.

%figure
  = lazy_image_tag "/assets/images/work/CHIRP-slide-5.jpg", 1500, 675, "Detail View of the tracklist"

%p
  The biggest challenge in developing the new back end was establishing the
  infrastructure needed to support a network of sites. The launch of the new
  CHIRP Radio website also included launches of a site used by the group&rsquo;s
  volunteer base and a dedicated site for
  = succeed "." do
    = link_to "CHIRP&rsquo;s annual record fair", "http://lovehasnologic.com/our-work/detail/chirp-record-fair"
  All sites are managed through the same back-end system and share data and user
  accounts. This new infrastructure will also make it much easier to roll out
  new sites for future CHIRP events and initiatives.
