---
title: Hanson Website
date: 2013-03-01
description: You may remember them as the fresh young faces that brought you the insanely catchy Mmmm Bop but you may not know that they've kept making music throughout the years. We remember them from redesigning their website.
tags: web design
featured: true
thumbnail: /assets/images/work/thumbnails/hanson-thumb.jpg
hide_title: true
---

- content_for :custom_styles do
  :scss
    .body {
      background: #000;
      color: #fff;

      a {
        color: #d8452a;

        &:hover,
        &:focus {
          color: #999;
        }
      }
    }

    .article__footer {
      background: #343434;
    }

    figure {
      color: #343434;
    }

%figure.figure--tight.text--centered
  = lazy_image_tag "/assets/images/work/hanson-band.jpg", 505, 348, "Hanson"

%p
  = link_to "Launch Pad Lab", "http://launchpadlab.com/"
  called us up with an interesting proposition: did we want to partner with them
  to remake the online home for the band Hanson? You may remember them as the
  fresh young faces that brought you the insanely catchy
  = succeed "," do
    %em Mmmm Bop
  but you may not know that they&rsquo;ve continued to make music over the
  years. Now they needed a new look to match their new album&hellip; and they
  needed it quickly.

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/hanson-home.jpg", 1440, 862, "Homepage"

%p
  With the input of the band, and working closely with the development team, we
  identified a set of goals for the new site design: tie it into the new album
  artwork, offer a touch of sophistication and make sure it would be able to
  work within the group&rsquo;s existing web framework. We got to work quickly
  and after a few passes of the baton, had completed the quickest redesign
  we&rsquo;d ever done. The team couldn&rsquo;t have been happier with the
  results.

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/hanson-tour.jpg", 1440, 862, "Tour Page"

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/hanson-blog.jpg", 1440, 862, "Blog Page"

%h3 Collaborators

%dl
  %dt Developer
  %dd= link_to "Launch Pad Lab", "http://launchpadlab.com"
