---
title: Johnson & Siuty Wedding
date: 2008-03-01
description: Chris and Melissa asked us to design them some wedding invites. This is what we came up with.
tags: print design
---

%figure.figure--tight.figure--bleed
  = lazy_image_tag "/assets/images/work/siuty4.jpg", 1000, 313, "Closeup Details"

%p
  We go back a long way with Chris, and when he announced his engagement to Melissa, we were all thumbs up and high fives around these parts. So when he approached us about doing the invites for the wedding how could we say no? More importantly, why would we?

%p
  In talking with the couple, we learned that they&rsquo;d be having their wedding ceremony at the Grove in Glenview, IL. It&rsquo;s a beautiful space that would be in full bloom on their wedding date. We used that as the basis for the invitations, putting together a foliage pattern for the outside of the invites. We paired this with the couple&rsquo;s initials on one flap and the date of the wedding on the other, joining the two in the middle when the invitations were folded.

%p
  Then we brought in
  = link_to "Starshaped Press", "http://www.starshaped.com/"
  to print the invites on their early 20th Century letterpresses.

%figure
  = image_tag "assets/images/work/siuty1.jpg"
%figure
  = image_tag "assets/images/work/siuty2.jpg"
%figure
  = image_tag "assets/images/work/siuty3.jpg"
