---
title: Max My Interest
date: 2013-10-01
description: Helping cash investors better protect and optimize their assets.
tags: web design, research, responsive design, front end development, identity development
url: http://maxmyinterest.com
thumbnail: /assets/images/work/thumbnails/max-thumb.png
hide_title: true
published: false
---

%figure.text--centered.maxLogo
  = lazy_image_tag "/assets/images/work/max-logo.png", 500, 182, "Max Logo"

%figure.figure
  = lazy_image_tag "/assets/images/work/max-dashboard.jpg", 1500, 878, "Max Dashboard"

%p
  For cash investors, optimizing and protecting their investments has been a
  very manual, lengthy, and repeated process. It involves daily research,
  account management and effort to ensure that their investments are spread to
  the most optimum degree. That is where Max My Interest came in. Using their
  technology, they would handle all the research and account management for
  customers, ensuring their case assets were fully FDIC-insured and in the
  accounts with the highest interest rates available.

%p
  Working at Table XI, I began the design process by understanding the problem I
  was trying to solve. I opened high-interest online savings accounts, moved
  money between the accounts, and researched daily interest rate shifts. I used
  the process of discovery to understand the roadblocks that served to make cash
  savings such a sticky asset, where customers would keep their money in lower
  interest accounts simply because the process of moving it was such a pain in
  the ass.

%p
  Once I understood the problem I worked with the client, as well as the
  development team, to start formulating and building out solutions to some of
  the largest hurdles in the process, making the signup process smooth and
  simplifying the process of creating and adding new high-yield savings
  accounts. We worked together to develop the logic that powered the behind the
  scenes operations of the site and launched with an MVP that, to a large
  extent, turned a time-consuming and manual process into something you no
  longer needed to think about.

.text--centered
  %figure.figure--mockup.figure--browser
    = lazy_image_tag "/assets/images/work/max-browser.jpg", 1750, 1040, "Max Website on a wide screen"
    %figcaption.figure__caption http://maxmyinterest.com/
  %figure.figure--mockup.figure--tablet
    = lazy_image_tag "/assets/images/work/max-tablet.jpg", 800, 936, "Max Website on a tablet"
  %figure.figure--mockup.figure--phone
    = lazy_image_tag "/assets/images/work/max-phone.jpg", 600, 999, "Max Website on a phone"

%p
  Once the site was launched, we found that the easiest way to get people
  excited about the project was to have them speak to the company&rsquo;s
  founder. That&rsquo;s not a scalable solution, so I asked the founder to give
  me the product pitch he gives prospective customers. Using that pitch, we
  helped re-craft the company&rsquo;s marketing page, telling the story of the
  product on the site the same way he was doing in person. The new marketing
  page was born out of results and served to improve the company&rsquo;s
  acquisition numbers.

%p
  Max My Interest is the perfect example of what happens when everyone involved
  with a project work towards the same goal and have a strong, collaborative
  base. It&rsquo;s an example of being comfortable with &ldquo;good
  enough&rdquo; and learning from launching. Most importantly, the site serves
  as a great example of where design can serve to drive development and
  development can serve to influence design.

%h3 Collaborators

%dl
  %dt Completed in my role as Design Director at
  %dd= link_to "Table XI", "http://www.tablexi.com"
