---
title: Quoota
date: 2012-09-01
description: How do you simplify the sales process? You make it dead simple to track and encourage continuous improvement. That's what I helped Quoota achieve.
tags: web design, responsive design, research, front end development
featured: true
thumbnail: /assets/images/work/thumbnails/quoota-thumb.jpg
hide_title: true
---

- content_for :custom_styles do
  :scss
    .body {
      position: relative;
      background-color: #edf2f1;
      background-image: url("/assets/images/work/quoota-bars.png"), url("/assets/images/work/quoota-bg.jpg");
      background-repeat: no-repeat, repeat;
      background-attachment: fixed;
      background-position: left top, left top;
      box-shadow: inset 0 0 0 10px rgba(255,255,255,0.5);

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 40px;
        content: "";
        background: rgba(255,255,255,.25);

        @media (max-width: 800px) {
          height: 20px;
        }
      }

      a {
        color: #ff4401;

        &:hover,
        &:focus {
          color: #343434;
        }
      }
    }

    .pageHeader {
      border-bottom: 9px solid #343434;
    }

    .article__footer {
      background: #fff;
    }

    .figure--quoota {
      background: rgba(255,255,255,.5);
      margin: 1em -10px;
      max-width: 1020px !important;

      img {
        margin: 10px 10px 0;
      }

      figcaption {
        padding-bottom: .5em;
      }
    }


%figure.text--centered
  = lazy_image_tag "/assets/images/work/quoota-logo.png", 300, 113, "Quoota Logo"

%p
  Quoota is a tool that arose from the need founder James Jordan saw for a tool
  that was easy to use and understand and could help maintain and improve the
  sales process for small businesses. With an understanding of the need and the
  market, he called to help him realize his vision. That began with some
  serious content strategy. The goal was to simplify a process that is anything
  but simple. Working with Annie Swank, we worked around the jargon, made
  connections in seemingly unconnected data and sorted through what was
  necessary for those who wanted to sell their services better, but didn&rsquo;t
  know how.

.text--centered
  %figure.figure--mockup.figure--browser
    = lazy_image_tag "/assets/images/work/quoota-browser.jpg", 1381, 810, "Wide view of the tracking page"

  %figure.figure--mockup.figure--tablet
    = lazy_image_tag "/assets/images/work/quoota-tablet.jpg", 813, 937, "Tablet view of the tracking page"

  %figure.figure--mockup.figure--phone
    = lazy_image_tag "/assets/images/work/quoota-phone.jpg", 605, 942, "Phone view of the tracking page"

%p
  During the process, we thought about the hours we spent playing Mario Kart as
  children. When there was no one around to play with, you could do time trials.
  The game remembered your every move for your fastest ever lap, and the result
  was you racing against the ghost of yourself. Despite having no opponents, we
  found a universal need to continue to improve. We took what we learned from
  those experiences and applied them here as a basic motivational tool.

%figure.figure--quoota
  = lazy_image_tag "/assets/images/work/quoota-signup.jpg", 1000, 633, "Signup Process Screenshot"
  %figcaption Signup Process (Step 2)

%p
  The process is simple. You create an account and tell us what your sales
  process looks like. We fill in some standard tasks you should be accomplishing
  on a weekly basis, and suggest some others you may want to add. You set weekly
  goals and that&rsquo;s it. Then each week we show you how you&rsquo;re doing
  relative to your goal. When the week is up you either hit your goals or you
  didn&rsquo;t. There&rsquo;s no carry-over or making up for missed goals. We
  then provide tracking data not only to show you your progress as it relates to
  your weekly goal, but we also show you how you&rsquo;re doing relative to what
  you had accomplished one week prior.

%figure.figure--quoota
  = lazy_image_tag "/assets/images/work/quoota-tracking.jpg", 1000, 760, "Task Tracking Screenshot"
  %figcaption Task Tracking (Detail)

%p
  The signup process helps educate new customers by recommending items that they
  can integrate into their sales process. By not rolling over weekly results, we
  build a sense of urgency around completing each of these tasks. By showing you
  your results from a week prior, we build a sense of competition with yourself
  that will motivate you to continually improve.

%figure.figure--quoota
  = lazy_image_tag "/assets/images/work/quoota-history.jpg", 1000, 572, "Sales History Screenshot"
  %figcaption Sales History

%h3 Collaborators

%dl
  %dt Developer
  %dd= link_to "3Binary", "http://3binary.com/"
  %dt Content Strategy
  %dd= link_to "Annie Swank", "https://www.linkedin.com/profile/view?id=134640760"
