---
title: Roger Ebert
date: 2013-04-01
description: We are honored to have been part of the team that launched the new RogerEbert.com. Here's a bit about our process.
tags: web design, research, responsive design, front end development
url: http://rogerebert.com
featured: true
thumbnail: /assets/images/work/thumbnails/rogerebert-thumb.jpg
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/rogerebert-slide-1.jpg", 1500, 541, "Roger Ebert Website Banner"

%p
  The process of rebuilding Roger Ebert&rsquo;s website began long before
  = link_to "Table XI", "http://tablexi.com/"
  asked us to join the stellar team they had assembled. The group had been hard
  at work for months rethinking the experience of Roger&rsquo;s then-current
  website and how to present, organize and browse decades worth of content. We
  were honored to be on board and got right to work visualizing the new
  direction.

%p
  We started by converting the initial work developed by
  = link_to "Fuzzy Math", "http://fuzzymath.com/"
  into functional wireframes. This was an important first step. It allowed the
  development team early access to front end files they could build against.
  More importantly, it gave us a site that lived in the browser. We were able to
  use these wireframes to start testing the initial structural assumptions,
  identify areas that needed additional thought and work through content
  interactions on every device we could get our hands on.

%figure
  = lazy_image_tag "/assets/images/work/rogerebert-responsive.jpg", 1000, 385, "Responsive Views for the review browsing screens"
  %figcaption Reviews any way you want them

%p
  With wireframes in place, we were able to shift our attention to the
  presentation layer of the site. Roger Ebert&rsquo;s main draw was his elegance
  with words. We approached the design from a content-first point of view,
  making sure that each entry remained readable and felt comfortable on the
  page. We worked hard to define and separate main and supporting content. Above
  all else, we wanted to ensure that nothing on the page distracted from the joy
  of reading the steady stream of reviews and blog posts that kept fans
  returning to the site. The result was a simple, light and tasteful backdrop
  where the words are the stars.

%figure
  = lazy_image_tag "/assets/images/work/rogerebert-slide-2.jpg", 1500, 675, "Homepage Detail"

%figure
  = lazy_image_tag "/assets/images/work/rogerebert-slide-4.jpg", 1500, 675, "Review Detail"

%p
  Building a rock solid responsive foundation was a major component of the
  project. Again, the content guided the way. In every view, we handcrafted the
  breakpoints according to the needs of the page and kept the changes as subtle
  and meaningful as possible. Once again, we wanted the experience of reading
  the site to be seamless regardless of the device the reader was using. Every
  major iteration required review and refinement of the responsive layer of the
  site &mdash; a layer that was still being refined the day of launch.

%figure
  = lazy_image_tag "/assets/images/work/rogerebert-slide-3.jpg", 1500, 675, "Channel Detail"

%p
  It&rsquo;s hard to write this without acknowledging Roger&rsquo;s death and
  noting that he did not get to see the site load on his own domain. But
  it&rsquo;s wonderful knowing that this person whom I&rsquo;ve looked to as an
  inspiration in overcoming my own fear of writing gave the site a hearty thumbs
  up.

%h3 Collaborators

%dl
  %dt Strategy, Development, and Project Management
  %dd= link_to "Table XI", "http://www.tablexi.com"
  %dt UX
  %dd= link_to "Fuzzy Math", "http://fuzzymath.com"
  %dt Branding
  %dd= link_to "Lacoste Design", "http://www.lacostedesign.com/ld/index.php"
  %dt Branding
  %dd= link_to "Pitch Design Union", "http://pitchdesignunion.com/"
