---
title: Roger Ebert
date: 2013-04-01
description: We are honored to have been part of the team that launched the new RogerEbert.com. Here's a bit about our process.
tags: web design, research, responsive design, front end development
url: http://rogerebert.com
featured: true
thumbnail: /assets/images/work/thumbnails/rogerebert-thumb.jpg
hide_title: true
---

- content_for :custom_styles do
  :scss
    $text-color: #4c4c4c;

    .body {
      background: #fafaf2;
      color: $text-color;
    }

    .article {
      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2),inset 0 0 0 1px #f2f2f2;
      -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2),inset 0 0 0 1px #f2f2f2;
      box-shadow: 0 0 5px rgba(0,0,0,0.2),inset 0 0 0 1px #f2f2f2;
      border: 10px solid #fafafa;
      padding: 1em;
      background: #fff;

      [href] {
        color: #988a3d;

        &:hover,
        &:focus {
          color: $text-color;
        }
      }

      > p:first-of-type::first-letter {
        color: #295766;
      }
    }

    .figure--browser {
      border-color: $text-color;

      &:after {
        background: $text-color;
      }
    }

%figure.text--centered
  = lazy_image_tag "/assets/images/work/rogerebert-logo.png", 500, 203, "Roger Ebert: 4 Stars"

%p
  The process of rebuilding Roger Ebert&rsquo;s website began long before
  = link_to "Table XI", "http://tablexi.com/"
  asked me to join the stellar team they had assembled. The group had been hard
  at work for months rethinking the experience of Roger&rsquo;s then-current
  website and how to present, organize and browse decades worth of content. I
  was honored to be on board and got right to work visualizing the new
  direction.

%p
  I started by converting the initial work developed by
  = link_to "Fuzzy Math", "http://fuzzymath.com/"
  into functional wireframes. This was an important first step. It allowed the
  development team early access to front end files they could build against.
  More importantly, it gave us a site that lived in the browser. We were able to
  use these wireframes to start testing the initial structural assumptions,
  identify areas that needed additional thought and work through content
  interactions on every device we could get our hands on.

.text--centered
  %figure.figure--mockup.figure--browser
    = lazy_image_tag "/assets/images/work/rogerebert-browser.jpg", 1500, 825, "Browser view for the review browsing screens"
    %figcaption.figure__caption http://rogerebert.com/reviews

  %figure.figure--mockup.figure--tablet
    = lazy_image_tag "/assets/images/work/rogerebert-tablet.jpg", 635, 824, "Tablet view for the review browsing screens"

  %figure.figure--mockup.figure--phone
    = lazy_image_tag "/assets/images/work/rogerebert-phone.jpg", 299, 466, "Phone view for the review browsing screens"

%p
  With wireframes in place, I was able to shift my attention to the
  presentation layer of the site. Roger Ebert&rsquo;s main draw was his elegance
  with words. The design was approached from a content-first point of view,
  making sure that each entry remained readable and felt comfortable on the
  page. Hard work was put into defining and separating main from supporting
  content. Above all else, I wanted to ensure that nothing on the page
  distracted from the joy of reading the steady stream of reviews and blog posts
  that kept fans returning to the site. The result was a simple, light and
  tasteful backdrop where the words are the stars.

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/rogerebert-slide-2.jpg", 1500, 675, "Homepage Detail"
  %figcaption.figure__caption http://rogerebert.com/

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/rogerebert-slide-4.jpg", 1500, 675, "Review Detail"
  %figcaption.figure__caption http://rogerebert.com/reviews/to-the-wonder-2013

%p
  Building a rock solid responsive foundation was a major component of the
  project. Again, the content guided the way. In every view, I handcrafted the
  breakpoints according to the needs of the page and kept the changes as subtle
  and meaningful as possible. Once again, I wanted the experience of reading
  the site to be seamless regardless of the device the reader was using. Every
  major iteration required review and refinement of the responsive layer of the
  site &mdash; a layer that was still being refined the day of launch.

%figure.figure--mockup.figure--browser
  = lazy_image_tag "/assets/images/work/rogerebert-slide-3.jpg", 1500, 675, "Channel Detail"
  %figcaption.figure__caption http://rogerebert.com/channels

%p
  It&rsquo;s hard to write this without acknowledging Roger&rsquo;s death and
  noting that he did not get to see the site load on his own domain. But
  it&rsquo;s wonderful knowing that this person whom I&rsquo;ve looked to as an
  inspiration in overcoming my own fear of writing gave the site a hearty thumbs
  up.

%h3 Collaborators

%dl
  %dt Strategy, Development, and Project Management
  %dd= link_to "Table XI", "http://www.tablexi.com"
  %dt UX
  %dd= link_to "Fuzzy Math", "http://fuzzymath.com"
  %dt Branding
  %dd= link_to "Lacoste Design", "http://www.lacostedesign.com/ld/index.php"
  %dt Branding
  %dd= link_to "Pitch Design Union", "http://pitchdesignunion.com/"
