---
title: Siren Fest 2008
date: 2008-07-01
description: We partnered with the Village Voice and Paul Antonson to create some killer Siren Fest materials.
tags: print design, identity development
hide_title: true
---

%figure
  = lazy_image_tag "/assets/images/work/siren08-logo.jpg", 1000, 240, "2008 Siren Fest Logo"

%p
  The eighth edition of Siren Fest, the yearly party for independent music
  lovers the
  %em Village Voice
  throws at Coney Island, was the first time that we were brought on board to
  create the day&rsquo;s look and feel.

%figure
  = lazy_image_tag "/assets/images/work/siren08-posters.jpg", 1000, 519, "Posters up on a wall in NYC"
  %figcaption Posters

%figure
  = lazy_image_tag "/assets/images/work/siren08-guide.jpg", 1000, 349, "Program Guide Interior"
  %figcaption Festival Guide

%p
  Things kicked off on the right foot with an amazing illustration to serve as
  the backbone of all the printed material courtesy of Paul Antonson. From
  there, we created a logo that would work well with the illustration and was
  true to the festival&rsquo;s seven-year history, but also began looking
  forward as well. With the logo completed, we got to work on the constant rush
  of advertisements, t-shirts, postcards, posters, rack toppers, letterhead, and
  other items promoting the festival. It was a crazy flurry of work, culminating
  in a final push to put the finishing touches on the remaining pieces from a
  houseboat in the middle of Utah the week before the festival.

%figure
  = lazy_image_tag "/assets/images/work/siren08-cards1.jpg", 1000, 450, "Scattered postcards, front up"
  %figcaption Postcards (Front)

%figure
  = lazy_image_tag "/assets/images/work/siren08-cards2.jpg", 1000, 450, "Scattered postcards, back up"
  %figcaption Postcards (Back)

%p
  All the hard work paid off on July 19th as we walked around Coney Island,
  listened to some great bands, saw a lot of friends, rode the Cyclone (some of
  us for the very first time), and saw the work we did everywhere our eyes
  landed. Before the festivities ended, we were already looking forward to
  getting started on 2009.

%h3 Collaborators

%dl
  %dt Illustrator
  %dd= link_to "Paul Antonson", "http://paulantonson.com/"
