---
title: Siren Fest 2009
date: 2009-07-01
description: Rock music, roller coasters and 50 feet to a sandy beach? Why yes, Village Voice, we will design you up some nice Siren Fest materials again.
tags: print design, identity development
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/siren09-banner-1.jpg", 1500, 675, "2009 Siren Fest Logo"

%p
  The
  %em Village Voice&rsquo;s
  Siren Fest is a summer tradition, as music fans from across the city pack up
  some lunch, slather on the sunscreen, and hop on the F train to Coney Island
  for a day full of the best independent music that can fit on two stages. Love
  Has No Logic was super excited to work once again with the
  %em Village Voice
  and
  = link_to "Paul Antonson", "http://www.paulantonson.com/"
  on the identity for this 9th version of the festival.

%p
  Things started off on the right foot with another amazing illustration from
  Paul, a visual feat, simultaneously spastic with its explosion of shapes but
  still easy to look at, built around a basic color palette. With the
  illustration complete, we set about putting together a great logo to match it.
  This time, we pulled inspiration from the vintage boardwalk signage scattered
  all around Coney.

%figure
  = lazy_image_tag "/assets/images/work/siren09-guide1.jpg", 1000, 450, "Program Cover Detail Image"
  %figcaption Program Cover Detail

%figure
  = lazy_image_tag "/assets/images/work/siren09-guide2.jpg", 1000, 450, "Program Featured Artist Detail Image"
  %figcaption Program Detail (Featured Artist Page)

%figure
  = lazy_image_tag "/assets/images/work/siren09-guide3.jpg", 1000, 450, "Program Artists Detail Image"
  %figcaption Program Detail (Artists Page)

%p
  Once the logo was completed, we set out to handle a constant rush of
  advertisements, t-shirts, postcards, posters, rack toppers, letterhead, and
  more. It was quite a feat, culminating in a final push to put the finishing
  touches on everything just weeks after we relocated to Chicago.

%figure
  = lazy_image_tag "/assets/images/work/siren09-banner-2.jpg", 1500, 675, "Postcards"

%figure
  = lazy_image_tag "/assets/images/work/siren09-banner-3.jpg", 1500, 675, "Shirts"

%p
  As we looked toward next year&rsquo;s 10th anniversary of this Brooklyn
  tradition, we were already thinking of great ideas to visually celebrate a
  decade of music.

%h3 Collaborators

%dl
  %dt Illustrator
  %dd= link_to "Paul Antonson", "http://paulantonson.com/"
