---
title: Siren Fest 2010
date: 2009-07-01
description: The tenth time is the charm, yes? It was when we teamed up with the Village Voice for another year of Siren Fest materials.
tags: print design, identity development
hide_title: true
---

%figure.figure--bleed.figure--tight
  = lazy_image_tag "/assets/images/work/siren10-banner1.jpg", 1500, 675, "2010 Siren Fest Logo"

%p
  For the tenth summer in a row, the
  %em Village Voice
  unleashed a day of music upon the masses at Coney Island in the form of Siren
  Fest. And for the third year in a row, we were happy to join forces with the
  %em Voice
  and
  = link_to "Paul Antonson", "http://www.paulantonson.com/"
  to make sure the entire city of New York knew that Coney Island was the place
  to be on July 17th, 2010.

%p
  For the 2010 logo, we focused less on the year itself and more on the fact
  that this was the fest&rsquo;s 10th anniversary We created a logotype that
  emphasized the anniversary and then worked to completion, ensuring that it
  would meld seamlessly with Paul&rsquo;s once again stunning illustrated
  backdrop.

%figure
  = lazy_image_tag "/assets/images/work/siren10-guide1.jpg", 1000, 450, "Program Schedule Detail Image"
  %figcaption Program Detail (Schedule Page)

%figure
  = lazy_image_tag "/assets/images/work/siren10-guide2.jpg", 1000, 450, "Program Artists Detail Image"
  %figcaption Program Detail (Artists Page)

%p
  With the logo completed, the whirlwind began, as we pushed it out to ads,
  t-shirts, postcards, posters, artist laminates and the final piece, the
  year&rsquo;s artist guide. In keeping with tradition, for the third year in a
  row we found ourselves sending last minute changes to the printer&rsquo;s
  hours before the presses started running, and looking back, we&rsquo;d want it
  no other way.

%figure
  = lazy_image_tag "/assets/images/work/siren10-banner2.jpg", 1500, 675, "Postcards"

%figure
  = lazy_image_tag "/assets/images/work/siren10-banner3.jpg", 1500, 675, "Shirts"

%p
  Here&rsquo;s to figuring out how to work a 20 into the Siren logo.

%h3 Collaborators

%dl
  %dt Illustrator
  %dd= link_to "Paul Antonson", "http://paulantonson.com/"
