---
title: Sokana Chartering
date: 2008-08-01
description: Classiness doesn't come to mind when you think shipping tankers, but that didn't stop us in designing Sokana Chartering's new website.
tags: web design, front end development, cms development
---

%p
  Sokana Chartering is a worldwide tanker shipping company that needed to
  separate itself from its competitors.
  = link_to "This Design Studio", "http://thisdesignstudio.com/"
  worked with us to expand Sokana&rsquo;s sleek, new identity to an updated
  website that added a level of sophistication the industry had been lacking.

%figure
  = lazy_image_tag "/assets/images/work/sokana.jpg", 1000, 587, "Homepage Mockup"

%p
  The website did away with the clutter that had become status quo and on
  initial landing, simply showing what ports their fleet was heading to at any
  given time. At a glance, a prospective shipper could see if Sokana would be
  able to help them get their goods where they needed to be.

%p
  The rest of the site filled in the background on the company and its fleet,
  all within the strict constraints set forth by the company&rsquo;s new
  identity. The website not only stood apart from the competition by looking
  better, but it also was much easier to use with a clear information hierarchy
  leading to the site&rsquo;s organization.

%figure
  = lazy_image_tag "/assets/images/work/sokana-people.jpg", 1000, 722, "People Page Detail"
  %figcaption People Page

%figure
  = lazy_image_tag "/assets/images/work/sokana-contact.jpg", 1000, 722, "Contact Page Detail"
  %figcaption Contact Page

%h3 Collaborators

%dl
  %dt Art Director
  %dd= link_to "Dave Bias", "http://thisdesignstudio.com/"
